.about {
    padding: $padding-sections;
    width: 100%;

    &__container {
        background-color: $bg-text;
        border-radius: 5px;
        @include hide;
        transition: opacity 0.3s transform 0.5s;

        &--active {
            @include show;
        }
    }
    &__text {
        max-width: 380px;
        color: $main-color;
        padding: 10px 15px;
        margin: 0 auto;
        border-radius: 5px;

        @include mq(xsmall) {
            font-size: 18px;
        }

        @include mq(medium) {
            font-size: 21px;
        }
    }
}