.button {
    position: relative;
    padding: 10px 20px;
    font-family: poppins;
    background-color: transparent;
    border: none;
    color: $second-color;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 300;

    @include mq(onlyPC) {
        &:hover {
            color: $main-color;
            background-color: $second-color;
            transition: background-color 0.5s, color 0.2s;
        }
    }

    &-header {
        display: block;
        margin: 20px auto 0;
        opacity: 0;
        width: 100%;
        border: 0.3px solid $second-color;
        animation: showButton 0.5s 3s both;
        cursor: pointer;

        &--animOut {
            animation: hideButton 0.3s both;
            cursor: auto;
        }

        @include mq(xsmall) {
            font-size: 24px;
        }

        @include mq(desktop) {
            font-size: 28px;
        }
    }
}