.footer {
    width: 100%;
    padding: 10px;
    @include hide;

    &--active {
        @include show;
    }
    &__text {
        padding-top: 10px;
        text-align: center;
        color: $main-color;
        border-top: 1px solid $bg-text;

        @include mq(medium) {
            font-size: 18px;
        }
    }

    &__link {
        display: block;
        width: 100%;
        color: $main-color;
        text-align: center;
        text-decoration: none;
        transition: color 0.2s;
        @include mq(medium) {
            font-size: 18px;
        }
        @include mq(onlyPC) {
            &:hover {
                color: $second-color;
            }
        }
    }
}