.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 10px;
    overflow: hidden;

    @include mq(xxsmall) {
        padding: 0 20px;
    }
}