.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 10px;
    overflow: hidden;
    background-color: $main-color;
}