@mixin mq($breakpoint) {
    $size: map-get($breakpoints, $breakpoint);

    @if($size) {
        @media #{$size} {
            @content;
        }
    }

    @else {
        @error '"#{breakpoint}" - Nie rozpoznaję tej wielkości';
    }
}

@mixin hide {
    position: relative;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(-20%);
    transition: transform 0.5s, opacity 0.3s;
}
@mixin show {
    transform: translateY(0);
    opacity: 1;
}