$main-color: #fff;
$second-color: #54bcb1;
$bg-color: #252525;
$bg-text: #555;
$bg-title: #121212;
$bg-container: #333;
$custom-shadow: 0 5px 5px 0 rgb(233 240 243 / 50%), 0 0 0 1px #e6ecf8;
$tile-bgc: #fff;
$padding-sections: 0 10px 30px;
$padding-sections-medium: 0 10px 50px;

$breakpoints: (xxsmall: '(min-width: 360px)',
    xsmall: '(min-width: 410px)',
    xsmall-horizontal: '(min-width: 410px) and (orientation: landscape)',
    small: '(min-width: 640px)',
    small-horizontal: '(min-width: 640px) and (orientation: landscape)',
    medium: '(min-width: 768px)',
    medium-vertical: '(min-width: 768px) and (orientation: portrait)',
    medium-horizontal: '(min-width: 736px) and (orientation: landscape)',
    mobile-horizontal: '(max-width: 920px) and (orientation: landscape)',
    desktop: '(min-width: 1024px)',
    desktop-small: '(min-width: 1280px)',
    desktop-medium: '(min-width: 1400px)',
    desktop-large: '(min-width: 1600px)',
    desktop-fhd: '(min-width: 1920px)',
    onlyPC: '(hover: hover) and (pointer: fine)');